<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4" ng-repeat="entry in entries">
        <div class="thumbnail">
            <a href="{{ entry.link }}" title="{{entry.name}}">
                <img ng-src="{{ entry.thumbnail }}" alt="{{entry.name}}" />
            </a>
            <div class="caption nowrap">
                <a href="{{ entry.link }}" title="{{entry.name}}">
                    <span class="glyphicon" ng-class="entry.glyph"></span> {{entry.name}}
                </a>
            </div>
        </div>
    </div>
</div>
